body {
  margin: 0;
  
}
*{
  box-sizing: border-box;
}

#username{
  width: 50%;
  height: 3rem;
}
#password{
  width: 50%;
  height: 3rem;
}
.div1{
  background-image: url("./Image/back.png");
  height: 100vh;
  padding-top: 20px;
}
.div2{
  padding-bottom: 100px;
}


